<!DOCTYPE html>

<html>

    {{> header}}

<body>
    
        {{> links}}
    

        <h1>{{pageTitle}} - Public Site</h1>
    
        
        
   
    
</body>    

{{> footer}}
    
    

</html>